<html>
    <body>
        {% if not post %}
        <p>Pas d'article</p>
        {% else %}
        <h1>{{ post.title }}</h1>
        <article>{{ post.text }}</article>
        {% endif %}
    </body>
</html>